In [1]:
import requests

from dotenv import load_dotenv
load_dotenv()

import os

import json

import pandas as pd

#import sql_functions # as sf

import sqlalchemy

In [2]:
# querystring has to be changed to the right cities!!
#querystring = {"station":"10637","start":"2020-01-01","end":"2020-01-05"}

headers = {
	"X-RapidAPI-Key": os.getenv('api_key'),
	"X-RapidAPI-Host": "meteostat.p.rapidapi.com"
    }

In [3]:
url_daily = "https://meteostat.p.rapidapi.com/stations/daily"
response_daily = requests.get(url_daily, headers=headers, params=querystring)
weather_daily = response_daily.json()

print(weather_daily)

{'meta': {'generated': '2024-05-08 09:38:13'}, 'data': [{'date': '2020-01-01', 'tavg': 0.4, 'tmin': -3.6, 'tmax': 4.5, 'prcp': 0.1, 'snow': 0.0, 'wdir': 47.0, 'wspd': 10.1, 'wpgt': 22.3, 'pres': 1035.5, 'tsun': 438}, {'date': '2020-01-02', 'tavg': -0.5, 'tmin': -2.4, 'tmax': 1.4, 'prcp': 0.0, 'snow': 0.0, 'wdir': 198.0, 'wspd': 6.1, 'wpgt': 25.9, 'pres': 1031.2, 'tsun': 0}, {'date': '2020-01-03', 'tavg': 5.8, 'tmin': 1.3, 'tmax': 9.3, 'prcp': 0.5, 'snow': 0.0, 'wdir': 209.0, 'wspd': 15.5, 'wpgt': 46.8, 'pres': 1024.4, 'tsun': 0}, {'date': '2020-01-04', 'tavg': 5.4, 'tmin': 2.4, 'tmax': 6.8, 'prcp': 0.2, 'snow': 0.0, 'wdir': 242.0, 'wspd': 15.8, 'wpgt': 47.5, 'pres': 1031.5, 'tsun': 0}, {'date': '2020-01-05', 'tavg': 4.8, 'tmin': 2.7, 'tmax': 6.3, 'prcp': 1.1, 'snow': 0.0, 'wdir': 189.0, 'wspd': 6.8, 'wpgt': 23.4, 'pres': 1036.6, 'tsun': 0}]}

In [4]:
# Create json object: json_object
json_object = json.loads(response_daily.content)

# Print json_object
json.dumps(json_object, indent = 3)

'{\n   "meta": {\n      "generated": "2024-05-08 09:38:13"\n   },\n   "data": [\n      {\n         "date": "2020-01-01",\n         "tavg": 0.4,\n         "tmin": -3.6,\n         "tmax": 4.5,\n         "prcp": 0.1,\n         "snow": 0.0,\n         "wdir": 47.0,\n         "wspd": 10.1,\n         "wpgt": 22.3,\n         "pres": 1035.5,\n         "tsun": 438\n      },\n      {\n         "date": "2020-01-02",\n         "tavg": -0.5,\n         "tmin": -2.4,\n         "tmax": 1.4,\n         "prcp": 0.0,\n         "snow": 0.0,\n         "wdir": 198.0,\n         "wspd": 6.1,\n         "wpgt": 25.9,\n         "pres": 1031.2,\n         "tsun": 0\n      },\n      {\n         "date": "2020-01-03",\n         "tavg": 5.8,\n         "tmin": 1.3,\n         "tmax": 9.3,\n         "prcp": 0.5,\n         "snow": 0.0,\n         "wdir": 209.0,\n         "wspd": 15.5,\n         "wpgt": 46.8,\n         "pres": 1024.4,\n         "tsun": 0\n      },\n      {\n         "date": "2020-01-04",\n         "tavg": 5.4,\n         "tmin": 2.4,\n         "tmax": 6.8,\n         "prcp": 0.2,\n         "snow": 0.0,\n         "wdir": 242.0,\n         "wspd": 15.8,\n         "wpgt": 47.5,\n         "pres": 1031.5,\n         "tsun": 0\n      },\n      {\n         "date": "2020-01-05",\n         "tavg": 4.8,\n         "tmin": 2.7,\n         "tmax": 6.3,\n         "prcp": 1.1,\n         "snow": 0.0,\n         "wdir": 189.0,\n         "wspd": 6.8,\n         "wpgt": 23.4,\n         "pres": 1036.6,\n         "tsun": 0\n      }\n   ]\n}'

In [5]:
for key, value in weather_daily.items():
    print(key + ':', value)

meta: {'generated': '2024-05-08 09:38:13'}
data: [{'date': '2020-01-01', 'tavg': 0.4, 'tmin': -3.6, 'tmax': 4.5, 'prcp': 0.1, 'snow': 0.0, 'wdir': 47.0, 'wspd': 10.1, 'wpgt': 22.3, 'pres': 1035.5, 'tsun': 438}, {'date': '2020-01-02', 'tavg': -0.5, 'tmin': -2.4, 'tmax': 1.4, 'prcp': 0.0, 'snow': 0.0, 'wdir': 198.0, 'wspd': 6.1, 'wpgt': 25.9, 'pres': 1031.2, 'tsun': 0}, {'date': '2020-01-03', 'tavg': 5.8, 'tmin': 1.3, 'tmax': 9.3, 'prcp': 0.5, 'snow': 0.0, 'wdir': 209.0, 'wspd': 15.5, 'wpgt': 46.8, 'pres': 1024.4, 'tsun': 0}, {'date': '2020-01-04', 'tavg': 5.4, 'tmin': 2.4, 'tmax': 6.8, 'prcp': 0.2, 'snow': 0.0, 'wdir': 242.0, 'wspd': 15.8, 'wpgt': 47.5, 'pres': 1031.5, 'tsun': 0}, {'date': '2020-01-05', 'tavg': 4.8, 'tmin': 2.7, 'tmax': 6.3, 'prcp': 1.1, 'snow': 0.0, 'wdir': 189.0, 'wspd': 6.8, 'wpgt': 23.4, 'pres': 1036.6, 'tsun': 0}]

In [6]:
weather_daily_df = pd.json_normalize(weather_daily,
                                      #sep='_',
                                      record_path='data',
                                      #meta=[['generated']],
                                      record_prefix='weather_'
                                      )

weather_daily_real_df = pd.DataFrame(weather_daily_df)
weather_daily_real_df

,weather_date,weather_tavg,weather_tmin,weather_tmax,weather_prcp,weather_snow,weather_wdir,weather_wspd,weather_wpgt,weather_pres,weather_tsun
0,2020-01-01,0.4,-3.6,4.5,0.1,0.0,47.0,10.1,22.3,1035.5,438
1,2020-01-02,-0.5,-2.4,1.4,0.0,0.0,198.0,6.1,25.9,1031.2,0
2,2020-01-03,5.8,1.3,9.3,0.5,0.0,209.0,15.5,46.8,1024.4,0
3,2020-01-04,5.4,2.4,6.8,0.2,0.0,242.0,15.8,47.5,1031.5,0
4,2020-01-05,4.8,2.7,6.3,1.1,0.0,189.0,6.8,23.4,1036.6,0

In [25]:
# Set the url
url = "https://meteostat.p.rapidapi.com/stations/daily"
# Settings:
stations = [
    '74486',  # New York - John F. Kennedy Airport
#            '72509',            # Boston Logan International Airport
#            '72405',            # Washington D.C. National Airport
#            '72502',            # New Jersey - Newark Airport
#            '72202',            #'Miami International Airport'
#            '72243',            #'Houston, TX Intercontinental'
#            '72494',            #'San Francisco Airport'
    '72793'  # Seattle-Tacoma Airport
]
start_dates = [
    '2015-01-01',
    '2017-12-01'
]
end_dates = [
    '2015-02-28',
    '2017-12-31'
]
headers = {
    "X-RapidAPI-Key": os.getenv('api_key'),
    "X-RapidAPI-Host": "meteostat.p.rapidapi.com"
}
# Create empty dataframe, will be used to append each location's weather data
weather_df = pd.DataFrame([])
# Loop through all locations and all dates
for station in stations:
    for start_date, end_date in zip(start_dates, end_dates):
        querystring = {
            "station": station,
            "start": start_date,
            "end": end_date,
            "units": "metric"
        }
        # Request data from url
        r = requests.get(url, headers=headers, params=querystring)
        # Decode response with json decoder
        weather_temp = r.json()
        # Flatten json response
        weather_temp_df = pd.json_normalize(weather_temp,
                                             sep='_',
                                             record_path='data',
                                             record_prefix='weather_'
                                             )
        # Set the station code for all rows related to the current date range
        weather_temp_df['station'] = station
        # Concatenate dataframes
        weather_df = pd.concat([weather_df, weather_temp_df], ignore_index=True)
# Print final dataset weather_df
weather_df

,weather_date,weather_tavg,weather_tmin,weather_tmax,weather_prcp,weather_snow,weather_wdir,weather_wspd,weather_wpgt,weather_pres,weather_tsun,station
0,2015-01-01,0.3,-2.1,4.4,0.0,0.0,246.0,27.7,None,1019.4,None,74486
1,2015-01-02,4.1,1.7,7.2,0.0,0.0,267.0,22.0,None,1023.5,None,74486
2,2015-01-03,2.5,-1.0,8.3,23.9,0.0,NaN,14.8,None,1031.5,None,74486
3,2015-01-04,8.5,6.1,12.8,11.9,0.0,NaN,16.2,None,1011.0,None,74486
4,2015-01-05,6.1,-4.9,10.6,0.0,0.0,290.0,31.7,None,1019.6,None,74486
...,...,...,...,...,...,...,...,...,...,...,...,...
175,2017-12-27,1.8,0.6,5.0,0.0,30.0,NaN,6.1,None,1025.6,None,72793
176,2017-12-28,5.7,3.3,8.9,8.6,0.0,163.0,17.3,None,NaN,None,72793
177,2017-12-29,7.6,3.9,12.2,38.1,0.0,NaN,16.6,None,NaN,None,72793
178,2017-12-30,8.3,3.3,8.9,2.8,0.0,204.0,18.7,None,1022.3,None,72793
179,2017-12-31,3.8,0.6,6.1,0.0,0.0,10.0,19.8,None,NaN,None,72793

In [24]:
# Print final dataset weather_df
weather_df.sample(15)

,weather_date,weather_tavg,weather_tmin,weather_tmax,weather_prcp,weather_snow,weather_wdir,weather_wspd,weather_wpgt,weather_pres,weather_tsun
117,2015-02-28,8.1,3.3,12.2,0.0,0.0,6.0,18.4,None,1021.3,None
113,2015-02-24,7.3,2.2,11.1,0.0,0.0,NaN,5.4,None,1029.2,None
41,2015-02-11,-1.3,-4.9,1.7,0.0,50.0,29.0,16.2,None,1017.0,None
74,2015-01-16,8.1,5.6,11.7,0.0,0.0,181.0,16.2,None,1019.7,None
21,2015-01-22,1.9,-0.5,5.0,0.0,0.0,NaN,13.0,None,NaN,None
18,2015-01-19,4.3,1.7,7.2,0.0,0.0,276.0,24.5,None,1009.7,None
15,2015-01-16,1.3,-6.6,7.2,0.0,0.0,281.0,29.5,None,1013.8,None
22,2015-01-23,0.7,-2.1,3.9,0.0,0.0,265.0,16.9,None,1024.0,None
98,2015-02-09,11.3,8.3,13.3,6.1,0.0,NaN,9.0,None,NaN,None
80,2015-01-22,6.6,6.1,9.4,0.8,0.0,NaN,4.7,None,1027.4,None
12,2015-01-13,0.1,-7.1,2.8,0.0,0.0,357.0,24.5,None,1032.9,None
93,2015-02-04,7.3,4.4,10.6,8.4,0.0,NaN,6.1,None,NaN,None
63,2015-01-05,10.7,9.4,12.2,8.1,0.0,197.0,23.0,None,NaN,None
70,2015-01-12,7.8,4.4,11.1,0.0,0.0,NaN,5.8,None,1028.0,None
105,2015-02-16,8.5,5.6,15.0,0.0,0.0,16.0,23.8,None,NaN,None

In [12]:
weather_df['station'].unique()

array(['72793'], dtype=object)

In [13]:
stations = [        # translated into station codes
            '74486',            # New York - John F. Kennedy Airport
            '72509' #,            # Boston Logan International Airport
#            '72405',            # Washington D.C. National Airport
#            '72502',            # New Jersey - Newark Airport
#            '72202',            #'Miami International Airport'
#            '72243',            #'Houston, TX Intercontinental'
#            '72494',            #'San Francisco Airport'
#            '72793'            #'Seattle-Tacoma Airport'
            ]


start_dates = [
                '2015-01-01',
                '2015-12-01',
                '2016-12-01',
                '2017-12-01'
                ]


end_dates = [
            '2015-02-28',
            '2016-02-29',
            '2017-02-28',
            '2017-12-31'
            ]

In [14]:
# sorted for stations/cities and then dates
for station in stations:
    for start_date, end_date in zip(start_dates, end_dates):
        querystring = {"station":{station},"start":{start_date},"end":{end_date}, "units":"metric"}
        print(querystring)

{'station': {'74486'}, 'start': {'2015-01-01'}, 'end': {'2015-02-28'}, 'units': 'metric'}
{'station': {'74486'}, 'start': {'2015-12-01'}, 'end': {'2016-02-29'}, 'units': 'metric'}
{'station': {'74486'}, 'start': {'2016-12-01'}, 'end': {'2017-02-28'}, 'units': 'metric'}
{'station': {'74486'}, 'start': {'2017-12-01'}, 'end': {'2017-12-31'}, 'units': 'metric'}
{'station': {'72509'}, 'start': {'2015-01-01'}, 'end': {'2015-02-28'}, 'units': 'metric'}
{'station': {'72509'}, 'start': {'2015-12-01'}, 'end': {'2016-02-29'}, 'units': 'metric'}
{'station': {'72509'}, 'start': {'2016-12-01'}, 'end': {'2017-02-28'}, 'units': 'metric'}
{'station': {'72509'}, 'start': {'2017-12-01'}, 'end': {'2017-12-31'}, 'units': 'metric'}

In [ ]:
# sorted for dates and then stations/cities
for start_date, end_date in zip(start_dates, end_dates):
    for station in stations:
        querystring = {"station":{station},"start":{start_date},"end":{end_date}, "units":"metric"}
        print(querystring)

In [ ]:
# Set the url
url = "https://meteostat.p.rapidapi.com/stations/daily"

# Settings:
stations = [        # translated into station codes
            '74486',            # New York - John F. Kennedy Airport
            '72509',            # Boston Logan International Airport
            '72405',            # Washington D.C. National Airport
            '72502',            # New Jersey - Newark Airport
            '72202',            #'Miami International Airport'
            '72243',            #'Houston, TX Intercontinental'
            '72494',            #'San Francisco Airport'
            '72793'            #'Seattle-Tacoma Airport'
            ]

start_dates = [
                '2015-01-01',
                '2015-12-01',
                '2016-12-01',
                '2017-12-01'
                ]


end_dates = [
            '2015-02-28',
            '2016-02-29',
            '2017-02-28',
            '2017-12-31'
            ]


querystring = {"station":{station},"start":{start_date},"end":{end_date}, "units":"metric"}

headers = {
	"X-RapidAPI-Key": os.getenv('api_key'),
	"X-RapidAPI-Host": "meteostat.p.rapidapi.com"
    }

# Create empty dataframe, will be used to append each locations and times weather data
weather_df = pd.DataFrame([])


# sorted for dates and then stations/cities
# Loop through certain
for start_date, end_date in zip(start_dates, end_dates):
    for station in stations:
        querystring = {"station":{station},"start":{start_date},"end":{end_date}, "units":"metric"}
        print(querystring)



# Loop through all locations
for station in stations:
    for start_date, end_date in start_dates, end_dates:

    # Request data from url
    r = requests.get(url, headers=headers, params=querystring)

    # time.sleep(1) #uncomment if you run into a query limit

    # Decode response with json decoder
    weather_temp = r.json()

    # Flatten json response
    weather_temp_df = pd.json_normalize(weather_temp,
                                    sep='_',
                                    record_path='data',
                                    record_prefix='weather_'
                                    )
    # concatenate dataframes
    weather_df = pd.concat([weather_df, weather_temp_df], ignore_index=True)

# Print final dataset weather_df
weather_df

In [ ]:
# COPY before creating nested loop


# Set the url
url = 'https://meteostat.p.rapidapi.com/stations/'

# Settings:
time = 'daily'
stations = [        # translated into station codes
            '74486',            # New York - John F. Kennedy Airport
            '72509',            # Boston Logan International Airport
            '72405',            # Washington D.C. National Airport
            '72502',            # New Jersey - Newark Airport
            '72202',            #'Miami International Airport'
            '',            #'Houston, TX'
            '',            #'San Francisco'
            ''            #'Seattle'
            ]

start_dates = [
                '2015-01-01',
                '2015-12-01',
                '2016-12-01',
                '2017-12-01'
                ]


end_dates = [
            '2015-02-28',
            '2016-02-29',
            '2017-02-28',
            '2017-12-31'
            ]


querystring = {"station":{station},"start":{start_date},"end":{end_date}, "units":"metric"}

headers = {
	"X-RapidAPI-Key": os.getenv('api_key'),
	"X-RapidAPI-Host": "meteostat.p.rapidapi.com"
    }

# Create empty dataframe, will be used to append each locations and times weather data
weather_df = pd.DataFrame([])

# Loop through all locations
for station in stations:
    # Create final url
    url_f = url + time

    # Request data from url
    r = requests.get(url_f, headers=headers, params=querystring)

    # time.sleep(1) #uncomment if you run into a query limit

    # Decode response with json decoder
    weather_temp = r.json()

    # Flatten json response
    weather_temp_df = pd.json_normalize(weather_temp,
                                    sep='_',
                                    record_path='data',
                                    record_prefix='weather_'
                                    )
    # concatenate dataframes
    weather_df = pd.concat([weather_df, weather_temp_df], ignore_index=True)

# Print final dataset weather_df
weather_df

**Don't let the next cell run, because I just copy/pasted the cell from the other notebook, but didn't exactly look over the code**

**And I also think we just need to do this part once!**

In [ ]:
# Import get_engine function from sql_functions.py and set it to a variable called engine
from sql_functions import get_engine
engine = get_engine()
# Import psycopg2
import psycopg2

# Write records stored in a dataframe to SQL database
if engine!=None:
    try:
        weather_monthly_df.to_sql(name='weather_monthly', # Name of SQL table
                        con=engine, # Engine or connection
                        if_exists='replace', # Drop the table before inserting new values
                        schema='hh_analytics_24_1', # your class schema
                        index=False, # Write DataFrame index as a column
                        chunksize=5000, # Specify the number of rows in each batch to be written at a time
                        method='multi') # Pass multiple values in a single INSERT clause
        print(f"The weather_info table was imported successfully.")
    # Error handling
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None
else:
    print('oups!')